@model IEnumerable<Inventario.Models.Telefono>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono1.IdTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono2.IdTelefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoCasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono1.IdTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono2.IdTelefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTelefono }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTelefono }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTelefono })
        </td>
    </tr>
}

</table>
